@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student;

<h2>Student Details</h2>
<hr />
<h3>@Html.ActionLink($"{ Model.Name }", "Index", "Courses")</h3>

@if(@Model.Courses.Count == 0)
{
  <p>This student does not contain any items</p>
}
else
{
  <h4>Courses the student contains:</h4>
  <ul>
  @foreach(var join in Model.Courses)
  {
    <li id="mark">@join.Course.CourseName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Students", "Index")</p>
<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>