@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department

<h2>Add new Department</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Major)
    @Html.TextBoxFor(model => model.Major)
    <br>
    <br>

    @Html.Label("Select student")
    @Html.DropDownList("StudentId")<br>

    <input class="button" type="submit" value="Add new Department" />
}
<p>@Html.ActionLink("Show all Departments", "Index")</p>