@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)<br>

    @Html.LabelFor(model => model.Date)
    @Html.TextBoxFor(model => model.Date)<br>

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")<br>

    <input type="submit" value="Add new item" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>